<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rotating Cube</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
        body { margin: 0; }
    </style>
	<script type="importmap">
  		{
    		"imports": {
      			"three": "https://unpkg.com/three@0.156.0/build/three.module.js",
      			"three/addons/": "https://unpkg.com/three@0.156.0/examples/jsm/"
    		}
  		}
	</script>
</head>
<body>
	<div id="container"></div>
	<script type="module" src="/static/js/rotate_cube.js"></script>
</body>
</html>
